@page "/"

<PageTitle>Home</PageTitle>

@* // TODO 🥉 - Use some nice fonts from googlefonts *@
@* // TODO 🥉 - Center everything below vertically and horizontally *@
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    .center-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    .invert-image {
        filter: invert(1);
    }
</style>

<div class="center-content">
    <h1>Weather App</h1>
    <h2>by Weather Inc.</h2>
    @* // TODO 🥉 - Invert the color of the image to match the white background *@
    <img src="images/logo.png" class="invert-image" />
    <h3>Welcome to your new favourite weather app!</h3>
</div>