@page "/"

<PageTitle>Home</PageTitle>

@* // TODO 🥉 - Use some nice fonts from googlefonts *@
@* // TODO 🥉 - Center everything below vertically and horizontally *@
<h1>Weather App</h1>
<h2>by Weather Inc.</h2>
@* // TODO 🥉 - Invert the color of the image to match the white background *@
<img src="images/logo.png" />
<h3>Welcome to your new favourite weather app!</h3>