@page "/search"

@using WeatherApp.Components.Pages.BugFix
@rendermode InteractiveServer

<PageTitle>Search</PageTitle>
<h1>Search</h1>

<RadzenRow>
    <RadzenColumn Size="4" >
        <ResultByCity />
    </RadzenColumn>
</RadzenRow>

<RadzenRow>
    <RadzenColumn Size="12">
        <DailyForecastExtended />
    </RadzenColumn>
</RadzenRow>

<RadzenRow>
    <RadzenColumn Size="12">
        <BasicWeatherMaps />
    </RadzenColumn>
</RadzenRow>
<RadzenRow>

    <RadzenColumn Size="6">
        <AirPollution />
    </RadzenColumn>

</RadzenRow>
